asgiref==3.8.1

click==8.1.8
cmake==4.0.0
colorama==0.4.6
Django>=4.0
dlib
face-recognition
face-recognition-models==0.3.0
numpy
opencv-python==4.11.0.86
pillow==10.4.0
sqlparse==0.5.3
typing-extensions==4.13.1
tzdata==2025.2
gunicorn
whitenoise
dj-database-url
python-decouple


